input:focus{
    border:1px solid red;
    color: red;
}
input{
    outline: none;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px whitesmoke;
}
#container{
    width: 200px;
    height: 200px;
    background-color: pink;
    transition: 2s ease-in-out;
}
#container:hover{
    width: 250px;
    height: 210px;
    background-color: crimson;
    border-radius: 50%;

}
a{
    font-size: 50px;
}
/* a:active{
    color: yellow;
}
button{
    padding: 10px;
    background-color: transparent;
    color: orange;
    border: 2px solid green;
    font-size: 50px;
}
button:active{
    background-color: crimson;
    color: pink;
}

a:visited{
    color: green;

}
a:link{
    color: red;
} */

a:link{
    color:red;
}
a:visited{
    color:yellow;
}
a:hover{
    color:blue;
}
a:active{
    color:bisque;
}
li:last-child{
    background-color: brown;
    color:beige;
}
p:last-child{
    background-color: aquamarine;
}

li:nth-child(2n-1){
    background-color: gold;
}